<div class="jumbotron text-center">
  <h1>Welcome to Short Story</h1>
  <h3>The publisher free way to share and access Ebooks</h3>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="well">
      <h2 class="text-center">Basic Membership</h2>
      <br/>
      <h4> Sign up for free and get ten ebooks a month.</h4>
      <%= link_to "Sign up Basic", new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-primary btn-lg btn-block' %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well">
      <h2 class="text-center">Pro Membership<h2>
        <h4> Sign up for the pro account for $10 a month and get unlimited access and epublisher ability.</h4>
        <%= link_to "Sign up Pro", new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-success btn-lg btn-block' %>
    </div>
  </div>
</div>
  